@import "Styles/colors";
@import "Styles/fonts";
@import "Styles/mixs";
@import "Styles/res";

section#contact {
    width: 100vw;
    background-color: lighten($accent-white-1, 4%);

    > .container {
        padding: 5rem 0;
        width: min(75%, 1440px);
        margin: 0 auto;

        @media #{$laptop} {
            width: 80%;
        }

        @media #{$tablet} {
            width: 85%;
        }

        @media #{$mobile_l} {
            width: 90%;
        }

        > .content {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;

            .types {
                width: 100%;
                display: flex;
                justify-content: center;
                gap: 1.2rem;
                flex-wrap: wrap;
                margin-top: 2.5rem;

                @media #{$mobile_l} {
                    gap: 1.5rem;
                }
    
                .tile {
                    // background-color: brown;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 12px;
                    padding: 1rem 1rem;

                    img {
                        @media #{$mobile_l} {
                            height: 8rem;
                        }
                    }
    
                    .text {
                        text-align: center;
    
                        p {
                            margin: 0px;
                            line-height: 150%;
                            font-family: $fm-regular;
                            font-style: normal;
                            font-weight: 400;
                            font-size: $fs0;
                            color: $accent-gray;
                        }
                    }
    
                    .name {
                        font-family: $fm-header;
                        font-style: normal;
                        font-weight: 600;
                        font-size: $fs1;
                        line-height: 36px;
                        color: $accent-black-3;
                    }
                }
            }
        }
    }
}
