$accent-green : #00ff82;
$accent-blue : #03e7fe;
$grad-lime-cyan: linear-gradient(90deg, #00ff82, #03e7fe);

$accent-black-0: #000;
$accent-black-1: rgba(10%, 10%, 10%);
$accent-black-2: rgba(20%, 20%, 20%);
$accent-black-3: rgba(30%, 30%, 30%);
$accent-black-4: rgba(40%, 40%, 40%);

$accent-gray: rgba(50%, 50%, 50%);

$accent-white-0: #fff;
$accent-white-1: rgba(90%, 90%, 90%);
$accent-white-2: rgba(80%, 80%, 80%);
$accent-white-3: rgba(70%, 70%, 70%);
$accent-white-4: rgba(60%, 60%, 60%);

$accent-dark-shadow-0: rgba(0, 0, 0, 0);
$accent-dark-shadow-1: rgba(0, 0, 0, 0.1);
$accent-dark-shadow-2: rgba(0, 0, 0, 0.2);
$accent-dark-shadow-3: rgba(0, 0, 0, 0.3);
$accent-dark-shadow-4: rgba(0, 0, 0, 0.4);
$accent-dark-shadow-5: rgba(0, 0, 0, 0.5);
$accent-dark-shadow-6: rgba(0, 0, 0, 0.6);
$accent-dark-shadow-7: rgba(0, 0, 0, 0.7);
$accent-dark-shadow-8: rgba(0, 0, 0, 0.8);
$accent-dark-shadow-9: rgba(0, 0, 0, 0.9);
$accent-dark-shadow-10: rgba(0, 0, 0, 1);