$fs-2 : 1rem - 2 * 0.3rem;
$fs-1 : 1rem - 1 * 0.3rem;
$fs-0-8 : 0.8rem;
$fs-0-9 : 0.9rem;

$fs0 : 1rem;

$fs1 : 1rem + 1 * 0.3rem;
$fs2 : 1rem + 2 * 0.3rem;
$fs3 : 1rem + 3 * 0.3rem;
$fs4 : 1rem + 4 * 0.3rem;
$fs5 : 1rem + 5 * 0.3rem;
$fs6 : 1rem + 6 * 0.3rem;
$fs7 : 1rem + 7 * 0.3rem;
$fs8 : 1rem + 8 * 0.3rem;
$fs9 : 1rem + 9 * 0.3rem;
$fs10 : 1rem + 10 * 0.3rem;

$fm-header: "Lato";
$fm-regular: "Poppins";