$d4k: "only screen and (min-width: 1440px)";
$laptop_l: "only screen and (max-width: 1440px)";
$laptop: "only screen and (max-width: 1024px)";
$tablet: "only screen and (max-width: 768px)";
$mobile_l: "only screen and (max-width : 425px)";
$mobile_m: "only screen and (max-width : 375px)";
$mobile_s: "only screen and (max-width : 320px)";
