@import "Styles/colors";
@import "Styles/fonts";
@import "Styles/mixs";
@import "Styles/res";

section#services {
    width: 100vw;

    > .container {
        padding: 5rem 0px;
        width: 100%;

        > .content {
            width: 100%;
            @include section-center;
            display: flex;
            flex-direction: column;
            align-items: center;

            > .cards {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr;
                width: 100%;
                gap: 1rem;
                margin-top: 3.5rem;

                @media #{$laptop} {
                    grid-template-columns: 1fr 1fr;
                }

                @media #{$mobile_l} {
                    grid-template-columns: 1fr;
                    margin-top: 2.5rem;
                }
    
                > .card {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: flex-start;
                    background-color: white;
                    border-radius: 1rem;
                    padding: 2rem 1rem;
                    box-shadow: 0 4px 10px $accent-dark-shadow-1;
                    gap: 1.2rem;

                    @media #{$mobile_l} {
                        border: 1px solid $accent-white-1;
                        box-shadow: none;
                        padding: 1rem;
                    }
        
                    > img {
                        width: 70%;

                        @media #{$laptop} {
                            width: 50%;
                        }

                        @media #{$mobile_l} {
                            width: 30%;
                        }
                    }
        
                    > h1 {
                        font-family: $fm-header;
                        font-size: $fs0;
                        font-weight: 600;
                        line-height: 120%;
                        color: $accent-black-3;
                        text-shadow: none;
                        width: 100%;
                        text-align: center;
                        height: max-content;

                        @media #{$mobile_l} {
                            font-size: $fs0;
                            color: $accent-black-4;
                        }
                    }
        
                    > p {
                        font-family: $fm-regular;
                        font-size: $fs-0-9;
                        line-height: 180%;
                        text-align: center;
                        color: $accent-black-4;
                    }
                }
            }
        }
    }
}
